[submodule "Flotilla_CLI"]
	path = Flotilla_CLI
	url = https://github.com/Ximidar/Flotilla_CLI.git
[submodule "Commango"]
	path = Commango
	url = https://github.com/Ximidar/Commango.git

[submodule "DataStructures"]
	path = DataStructures
	url = https://github.com/Ximidar/DataStructures.git
