# binary
*/bin/
bin

# GCODE
.gcode 
*.gcode

# zero file
*0

# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Node Modules
*.DS_Store
*Thumbs.db
*db.json
*.log
*node_modules/
public/
*.deploy*/
*src/_drafts
*package-lock.json

# Astilectron
*resources/app
*output