[submodule "Flotilla_CLI"]
	path = Flotilla_CLI
	url = https://github.com/Ximidar/Flotilla_CLI.git

[submodule "Commango"]
	path = Commango
	url = https://github.com/Ximidar/Commango.git

[submodule "DataStructures"]
	path = DataStructures
	url = https://github.com/Ximidar/DataStructures.git

[submodule "Flotilla_File_Manager"]
	path = Flotilla_File_Manager
	url = https://github.com/Ximidar/Flotilla_File_Manager.git
[submodule "NodeLauncher"]
	path = NodeLauncher
	url = git@github.com:Ximidar/NodeLauncher.git
[submodule "FlotillaStatus"]
	path = FlotillaStatus
	url = git@github.com:Ximidar/FlotillaStatus.git
